<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servlet_session_auth</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
 
 <!-- 필터 등록 및 //@WebFilter 주석처리 --> 
 <!--  
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>filter.EncodingFilter</filter-class>
  </filter>
    <filter>
  	<filter-name>securityFilter</filter-name>
  	<filter-class>filter.SecurityFilter</filter-class>	
  </filter>
 --> 
   <!-- 필터 맵핑등록, 등록 순서로 동작, 어노테이션에서 등록불가능함--> 
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>securityFilter</filter-name>
<!--	<url-pattern>/mypage</url-pattern>	--> 
   	<url-pattern>/mypage/*</url-pattern>
   	<url-pattern>/api/mypage/*</url-pattern>
  </filter-mapping>
</web-app>